* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(28, 28, 35);
}

.content-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 10px 20px;
  border: none;
  color: #fff;
  border: 2px solid white;
  width: 120px;
  height: 100px;
  margin: 20px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.purple {
  background: purple;
}

.blue {
  background: blue;
}

.red {
  background: red;
}

.green {
  background: green;
}

.yellow {
  background: yellow;
  color: black;
}

.teal {
  background: teal;
}
