@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 800px;
}

#display-joke {
    font-size: 4rem;
    font-weight: bold;
    font-family: "Caveat", cursive;
}

.btn {
    padding: 10px;
    margin: 40px;
    border: none;
    background: transparent;
    border-bottom: 1px solid crimson;
    color: crimson;
    cursor: pointer;
    font-family: "Caveat", cursive;
    font-size: 1.5rem;
}